body {
  font-family: "Comfortaa", cursive;
  color: #01d65d;
  text-shadow: 3px 4px 5px #001722;
  display: block;
  margin: 0 auto;
  max-width: 575px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  display: block;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
h6 {
  text-align: center;
  font-size: 15px;
}
p {
  text-align: center;
  font-size: 18px;
  padding-top: 0;
  margin: 0;
}
a {
  color: #8cc5a5;
  cursor: pointer;
  transition: ease-in-out 200ms;
  font-size: 20px;
}
a:hover {
  color: #01d65d;
  text-decoration: none;
}
ul {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 50px;
}
li {
  list-style: none;
  line-height: 25px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
footer {
  padding-top: 20px;
  margin: 0 auto 15px;
}
i {
  padding: 5px;
}
.card {
  display: block;
  text-align: center;
  background-image: linear-gradient(180deg, #00273a, 30%, #135c86);
  border-radius: 20px;
  border-width: 5px;
  border-color: rgb(113, 143, 182);
}
