.city {
  color: rgb(201, 201, 201);
  display: block;
  text-align: center;
}
.search-city {
  padding: 20px 10px 0px;
}
.city-search-control {
  position: relative;
  right: 20px;
  border: 2.5px rgb(113, 143, 182) solid;
  border-radius: 3px;
  width: 85%;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
}
.search button {
  color: #14618d;
  border: none;
}
#search-icon {
  position: relative;
  bottom: 37px;
  left: 80%;
  padding-top: 5px;
  margin: 0;
  display: block;
  background: transparent;
  border: none;
  color: #155d86;
}
button#search-icon:hover {
  color: rgb(113, 143, 182);
}

#location-icon {
  position: relative;
  bottom: 71px;
  left: 88.5%;
  padding: 5px 10px;
  margin: 0;
  display: block;
  background: #012b40;
  border: 2.1px #718fb6 solid;
  border-radius: 3px;
  color: rgb(201, 201, 201);
}
button#location-icon:hover {
  color: rgb(113, 143, 182);
}
